<main>
  <h1 data-text="Alice">Alice</h1>
  <h2 data-text="conta">conta</h2>
  <h3 data-text="2">2</h3>

  <div id="content">
    <p id="greetings">
      Convite especial para,<br /><strong class="name"><%= "#{@name}"%></strong>.
    </p>
  </div>
</main>

<footer>
  <time datetime="2019-09-07 15:00">
    <span class="date">
      <span class="month">setembro</span>
      <span class="day">07</span>
    </span>
    <span class="gap"></span>
    <span class="time">
      <span>às</span>
      <span class="hour">15h</span>
    </span>
  </time>

  <address>
    <p>Local: <strong>Condomínio Vert Vita</strong></p>
    <%= link_to 'Estr. Rodrigues Caldas, 2055 - Taquara, Rio de Janeiro - RJ, 22713-374', "https://goo.gl/maps/GMNsNzL2hJaifF9q9" %>
  </address>
</footer>